body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.col-4
{
  float: left;
  width: 30%;
  padding: 5px;
  min-width: 274px;
}
.blockStyle
{
  background-color: #f3f0f0;
  border-radius: 25px;
  border: 1px solid #cccbcb;
  padding:10px;
}
.flex
{
  display: flex;
}
.flex span
{
  font-size: 10px;
}
.textBox
{
  height: 160px;
  padding-top: 10px;
  overflow: hidden;
  font-size: 20px;
}
h6
{
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 13px;
  height: 29px;
}
.left
{
  float: left;
}

.leftPart
{
  width: 16%;
  height: 300px;
}
.rightPart
{
  width: 25%;
}
.center
{
  width: 60%;
}
.clear
{
  clear: both;
}

.content {
  margin: 3px;
  padding: 5px;
  font-family: sans-serif;
}

.nav-cart {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 30px;

}

.imge {
  background-image: url(./fonts/bt-1.png);
  /*background-position: 0 -575px;*/
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.header {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #fff;
  z-index: 20;
  border-bottom: 1px solid #e9e9e9
}


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 920px;
}

.selector-left-bar {
  width: 170px;
}

.hm-right {
  position: relative;
  float: right;
  font-size: 20px;
  padding-left: 2px;
  z-index: 11;
}

.hm-middle {
  position: relative;
  width: auto;
  z-index: 10;
}

.nav-cart {
  position: relative;
  float: left
}

.nav-cart .cart-number {
  min-width: 25px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 8px;
  background-color: #e62e04;
  color: #fff;
  font-size: 20px;
  margin: 2px;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.rightPart {
  float: left;
  width: 24%;
}

.closeProduct {
  float: right;
  padding: 10px;
}

.blockStyleProduct {
  background-color: #f4f5cf;
  border-radius: 5px;
  border: 1px solid #cccbcb;
  padding: 10px;
}

.textBoxProduct {
  /*height: 100px;*/
  padding-top: 10px;
  overflow: hidden;
  font-size: 20px;
}

.buynow {
  position: relative;
  line-height: 32px;
  border: 1px solid #fd9729;
  color: #fff;
  background-color: #fd9729;
  padding: 0 25px;
  margin: 0 8px 4px 0;
  float: right;
}

.removeCard {
  position: relative;
  line-height: 32px;
  border: 1px solid #fd9729;
  color: #fff;
  background-color: #fd2b3c;
  padding: 0 25px;
  margin: 0 8px 4px 0;
  float: right;
}

.quantity {
  padding-right: 13px;
}

.quantity-top {
  padding-top: 10px;
}

.padding-15px {
  padding :7px
}

.top_minus {
  margin-top: -20px;
}
.ui.green.header {
  color: #21BA45 !important;
}

.balance {
  position: absolute;
  top: 17px;
}

.balance-div {
  margin-left: 40px;
}
.aliceblues {
  border: 1px solid #f7eaea;
  margin-bottom: 5px;
  background-color: rgba(248, 255, 229, 0.57);
}



.products_add_to_card {
  position: relative;
  line-height: 20px;
  border: 1px solid #fd9729;
  color: #fff;
  padding: 0 25px;
  background-color: #fd9729;
  width: 128px;
  height: 19px;
}

.products_add_to_card_disabled {
  position: relative;
  line-height: 20px;
  border: 1px solid #fff;
  color: #fff;
  padding: 0 25px;
  width: 128px;
  height: 22px;

}


.products_card_disabled {
  position: relative;
  line-height: 20px;
  border: 1px solid #fff;
  color: #fff;
  padding: -1px 13px;
  width: 124px;
  height: 22px;
}

.products_remove_to_card {
  position: relative;
  line-height: 15px;
  border: 1px solid #fd9729;
  color: #fff;
  background-color: #fd2b3c;
  padding: -1px 13px;
  width: 124px;
  height: 22px;
}